*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#8eaded, #b236d1);
    
    padding: 10px;
}

.todo-text{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-text h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-text img{
    width: 40px;
    position: relative;
    top: 10px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    margin-top: 25px;
    padding-left: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px ;
    font-size: 20px;
}

button{
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 16px;
    padding: 25px 8px 22px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(To-Do-Img/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 20px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(To-Do-Img/images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 20px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}


@media (min-width: 1024px){
    .todo-text{
        max-width: 540px;
    }
}

@media (max-width: 1023px){
    .todo-text{
        width: 90%;
        margin: 80px auto 20px;
        padding: 30px 25px 50px;
    }

    button{
        padding: 14px 35px;
        font-size: 14px;
    }

    input{
        font-size: 18px;
    }
}



@media (max-width: 768px){

    .todo-text{
        width: 95%;
        margin-top: 50px;
        padding: 25px 15px 40px;
    }

    .todo-text h1{
        font-size: 22px;
        text-align: center;
    }

    .row{
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        border-radius: 15px;
    }

    input{
        width: 100%;
        font-size: 16px;
        padding: 12px;
        background: white;
        border-radius: 10px;
    }

    button{
        width: 100%;
        padding: 14px;
        font-size: 16px;
        border-radius: 10px;
    }

   ul li{
    font-size: 15px;
    padding: 25px 45px 15px 45px;
    display: flex;
    align-items: center;
    
}

ul li span{
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}
}